name = "chroniclesync-worker"
main = "src/index.js"
compatibility_date = "2024-01-01"
[observability.logs]
enabled = true

[env.production]
routes = [
  { pattern = "api.chroniclesync.xyz", custom_domain = true }
]


[[env.production.r2_buckets]]
binding = "STORAGE"
bucket_name = "sync-storage"

[[env.production.kv_namespaces]]
binding = "METADATA"
id = "885fc6a560ab45e7bfd3b89252f89f2d"

[env.staging]
name = "chroniclesync-worker-staging"
routes = [
  { pattern = "api-staging.chroniclesync.xyz", custom_domain = true }
]

[[env.staging.r2_buckets]]
binding = "STORAGE"
bucket_name = "sync-storage-staging"

[[env.staging.kv_namespaces]]
binding = "METADATA"
id = "6af335e197d04907ae89366c50ada619"
