name = "chroniclesync-worker"
main = "src/index.js"
compatibility_date = "2024-01-01"
log_level = "debug"

[env.production]
routes = [
  { pattern = "api.chroniclesync.xyz", custom_domain = true }
]

[[env.production.d1_databases]]
binding = "DB"
database_name = "production"
database_id = "${CF_PROD_DB_ID}"

[[env.production.r2_buckets]]
binding = "STORAGE"
bucket_name = "sync-storage"

[env.staging]
name = "chroniclesync-worker-staging"
zone_id = "ef68ebac5221773b48c1e308c7f599ac"
routes = [
  { pattern = "api-staging.chroniclesync.xyz", custom_domain = true }
]

[[env.staging.d1_databases]]
binding = "DB"
database_name = "staging"
database_id = "${CF_STAGING_DB_ID}"

[[env.staging.r2_buckets]]
binding = "STORAGE"
bucket_name = "sync-storage-staging"